<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juegueteria GUGU</title>
    <script src="https://kit.fontawesome.com/5333537f63.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <header>
        <!-- contenedor del logo -->
        <div class="top-header">
            <div class="logo">
                <img src="" alt="LOGO GUGU" width="360px">
            </div>
        </div>
        <!-- UL de producto,contacto y quienes somos -->
        <ul class="listaUl">
            <li><a href="#">QUIENES SOMOS</a></li>
            <li><a href="#">PRODUCTOS</a></li>
            <li><a href="#">CONTACTO</a></li>
        </ul>
        <!-- contenedor de navegacion -->
        <div class="navegacion">
            <!-- contenedor con enlaces de buscar login y carrito -->
            <div class="iconosYBuscar">   

                <div class="searchBox">
                    <form class="search-container" action="search" method="get">
                        <input type="text" placeholder="BUSCAR">
                        <button class="buttonSearch"><i class="fas fa-search"></i></button>
                    </form>
                </div>

                <div class="contenedorUser">
                    <a href="#" class="user"><i class="far fa-user"></i></a>
                </div>

                <div class="carritoCompras">
                    <a href="#"><i class="fas fa-shopping-cart"></i></li>
                </div>   
            </div>                 
        </div>
    </header>
    
</body>
</html>