*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
header div.navegacion{
    margin-right: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.listaUl{
    display: none;
}
.contenedorUser{
    display: none;
}
.carritoCompras{
    display: none;
}
.iconosYBuscar{
    display:block;
}